<a href="https://colab.research.google.com/github/denys-dias/EBAC-Curso-de-Analista-de-Dados/blob/main/Profissao_Analista_de_dados_M1_Exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br>
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [ ]:
#Posso fazer direto ou atribuindo a uma variável

print('Olá, Mundo!')#Direto

frase = 'Olá, Mundo!'#Variável
#print(frase)

Olá, Mundo

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [ ]:
# 19/01
qtd_total_vendas_1 = 3
ticket_medio_1 = 320.52

# 20/01
valor_total_vendas_2 = 834.47
ticket_medio_2 = 119.21

# 23/01
valor_total_vendas_3 = 15378.12
qtd_total_vendas_3 = 5

# Calcule aqui:
A = valor_total_vendas_1 = qtd_total_vendas_1 * ticket_medio_1
B = valor_total_vendas_2 / ticket_medio_2
C = valor_total_vendas_3 / qtd_total_vendas_3

# Print
print('(A) = ', A) # Valor total de vendas
print('(B) = ', B) # Quantidade de vendas
print('(C) = ', C) # Ticket médio

(A) =  961.56
(B) =  7.000000000000001
(C) =  3075.6240000000003

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):
    ***Depois*** faça:

*   Substitua todas as vírgulas por barras /

*   Deixe a string em maiúscula
*   Encontre a posição da palavra "moinho" na string

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

# Substitua todas as vírgulas por barras /
result1 = cancao.replace(",", "/")
print(result1)

# Deixe a string em maiúscula
result2 = cancao.upper()
print(result2)

# Encontre a posição da palavra "moinho" na string
result3 = cancao.find("moinho")
print('A posição da palavra "moinho" é: ' + str(result3))

Roda mundo/ roda gigante/ roda moinho/ roda pião.
RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
A posição da palavra "moinho" é: 31

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [ ]:
noticia = 'Selic vai a 2,75% e supera expectativas é a primeira alta em 6 anos.'#String

print(len(noticia))# Através da função len, percorro toda a string e conto os caracteres
print(noticia.find("2"))#Acho a posição da selic
selic = noticia[12:16]#Atribuo então este valor a variável selic
#print(selic) Caso queira eu posso imprimir ela
print(noticia.find("6"))#Acho a posição do ano
ano = noticia[61]#Atribuo então este valor a variável ano
#print(ano) Caso queira eu posso imprimir ela

print("A taxa Selic é de: " + selic + " e a primeira alta em " + ano )

68
12
61
A taxa Selic é de: 2,75 e a primeira alta em 6

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b
print(x)

True